<head>
  <title>Get-plan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Get Plan Details</h2>
  <form action="" action="POST">
    <div class="form-group">
      <label for="collectionType">CollectionType</label>
      <input type="text" class="form-control" id="collectionType" placeholder="Enter collectionType" name="collectionType">
      
    </div>
    <div class="form-group">
      <label for="collectionId">CollectionId</label>
      <input type="text" class="form-control" id="collectionId" placeholder="Enter ccollectionId" name="collectionId">
     
    </div>
    <button type="submit" class="btn btn-default" onclick="return validate();">Submit</button>
  </form>
</div>

</body>

<script>

function validate()
{
  var collectionType=$("#collectionType").val();
  var collectionId=$("#collectionId").val();
  

  $.ajax({
						type: 'POST',
            url: 'http://ec2-13-127-81-8.ap-south-1.compute.amazonaws.com:8083/api/plans/getplan',
            headers: {'token': "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJwYWxsYXZpNDY1QGdtYWlsLmNvbSIsInN0b3JlTmFtZSI6InJndWt0aWlpdCIsImV4cCI6MTUxNTc1MTU0NiwiaWF0IjoxNTE1NzQ3OTQ2fQ.o8oLDGVfkxbaXwz95uzP35p7yBxlp2139kgwKp-Nh-Y"},
            data: {collectionType:collectionType,collectionId:collectionId},						
                        success: function(data) {

                          alert(JSON.stringify(data));
                          console.log(JSON.stringify(data));
                          $("#collectionType").val("");
                          $("#collectionId").val("");
                        }
  });
  return false;
}

</script>
</html>

